In [50]:
import pandas as pd
import os, sys, time
from os.path import isfile, join

In [51]:
data_path ='/home/ymm/kaggle/bosch/data_15_bins_combined_models'

In [52]:
csv_files = [f for f in os.listdir(data_path) if isfile(join(data_path, f)) and 'results' in f]

In [53]:
csv_files

['bosch_results_data_bin_8.csv',
 'bosch_results_data_bin_5.csv',
 'bosch_results_data_bin_0.csv',
 'bosch_results_data_bin_6.csv',
 'bosch_results_data_bin_3.csv',
 'bosch_results_data_bin_9.csv',
 'bosch_results_data_bin_14.csv',
 'bosch_results_data_bin_4.csv',
 'bosch_results_data_bin_NaN.csv',
 'bosch_results_data_bin_11.csv',
 'bosch_results_data_bin_2.csv',
 'bosch_results_data_bin_1.csv',
 'bosch_results_data_bin_12.csv',
 'bosch_results_data_bin_7.csv',
 'bosch_results_data_bin_13.csv',
 'bosch_results_data_bin_10.csv']

In [54]:
submission_sample_file = 'sample_submission.csv'
submission_sample_path = '/mnt/home/ymm/bosch'
submission_sample = pd.read_csv(join(submission_sample_path, submission_sample_file), index_col='Id')

In [55]:
print submission_sample.shape
submission_sample.head(10)

(1183748, 1)

    Response
Id
1          0
2          0
3          0
5          0
8          0
10         0
12         0
15         0
17         0
19         0

In [49]:
#submission_sample.index

In [56]:
results = pd.DataFrame()
for csv_file in csv_files:
    res = pd.read_csv(join(data_path, csv_file), index_col=0, header=None)
    results = pd.concat([results, res])

In [57]:
results.head()

       1
0
158  0.0
241  0.0
253  0.0
291  0.0
530  0.0

In [68]:
results.index.name = 'Id'
results.columns = ['Response']
results = results.astype('int')

In [71]:
np.sum(results.Response)

6867

In [69]:
sorted_results = results.ix[submission_sample.index]

In [70]:
combined_results_file = 'bosch_combined_results.csv'
sorted_results.to_csv(join(data_path, combined_results_file))

In [25]:
print results.shape
results.head(10)

(1183732, 1)

     0.0
241  0.0
253  0.0
291  0.0
530  0.0
563  0.0
579  0.0
595  0.0
606  0.0
686  0.0
690  0.0

In [2]:
raw_data_path = '/home/ymm/bosch/'

train_num_file   = 'train_numeric.csv'
train_cat_file   = 'train_categorical.csv'
train_date_file  = 'train_date.csv'
test_num_file    = 'test_numeric.csv'
test_cat_file    = 'test_categorical.csv'
test_date_file   = 'test_date.csv'

In [9]:
train_num = pd.read_csv(join(raw_data_path, train_num_file), index_col='Id', nrows=100)
test_num = pd.read_csv(join(raw_data_path, test_num_file), index_col='Id', nrows=100)
test_date = pd.read_csv(join(raw_data_path, test_date_file), index_col='Id', nrows=100)

In [11]:
test_date.head(10)

,L0_S0_D1,L0_S0_D3,L0_S0_D5,L0_S0_D7,L0_S0_D9,L0_S0_D11,L0_S0_D13,L0_S0_D15,L0_S0_D17,L0_S0_D19,...,L3_S50_D4246,L3_S50_D4248,L3_S50_D4250,L3_S50_D4252,L3_S50_D4254,L3_S51_D4255,L3_S51_D4257,L3_S51_D4259,L3_S51_D4261,L3_S51_D4263
Id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,255.45,255.45,255.45,255.45,255.45,255.45,255.45,255.45,255.45,255.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,907.34,907.34,907.34,907.34,907.34,907.34,907.34,907.34,907.34,907.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,602.64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,575.68,575.68,575.68,575.68,575.68,575.68,575.68,575.68,575.68,575.68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1411.4,1411.4,1411.4,1411.4,1411.4
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN