In [2]:
import pandas as pd
import numpy as np

import os, sys, time, random
from os.path import join
import yaml

In [24]:
data_path = '/home/ymm/kaggle/bosch_data/bosch_processed_data'
dep_var_name = 'Response'
id_name = 'Id'
station_train_file = 'bosch_train_station_features.csv'
station_test_file = 'bosch_test_station_features.csv'

dat_train_file = 'bosch_train_date_features.csv'
dat_test_file = 'bosch_test_date_features.csv'

cat_train_file = 'bosch_train_categorical_features.csv'
cat_test_file = 'bosch_test_categorical_features.csv'

num_train_file = 'bosch_train_numerical_features.csv'
num_test_file = 'bosch_test_numerical_features.csv'

In [14]:
station_train = pd.read_csv(join(data_path, station_train_file), nrows=5000)
station_test = pd.read_csv(join(data_path, station_train_file), nrows=5000)

In [9]:
print len(station_train.columns), len(station_test.columns)

881 881

In [19]:
def get_columnNames(data_path, train_file, test_file, dep_var_name, id_name):
    train = pd.read_csv(join(data_path, train_file), nrows=10)
    test = pd.read_csv(join(data_path, test_file), nrows=10)
    train_columns = train.columns.tolist()
    test_columns = test.columns.tolist()
    if dep_var_name in train_columns:
        train_columns.remove(dep_var_name)
    if id_name in train_columns:
        train_columns.remove(id_name)
        test_columns.remove(id_name)
        
    if train_columns != test_columns:
        raise ValueError('different columns are found!')
    
    return train_columns

In [25]:
station_columns = get_columnNames(data_path, station_train_file, station_test_file, dep_var_name, id_name)
date_columns = get_columnNames(data_path, dat_train_file, dat_test_file, dep_var_name, id_name)
numerical_columns = get_columnNames(data_path, num_train_file, num_test_file, dep_var_name, id_name)
categorical_columns = get_columnNames(data_path, cat_train_file, cat_test_file, dep_var_name, id_name)

In [31]:
feature_dict = {'station' : station_columns, 'date' : date_columns, 'num' : numerical_columns, 'cat' : categorical_columns}

In [29]:
print len(station_columns), len(date_columns), len(numerical_columns), len(categorical_columns)

880 1182 977 1986

In [32]:
with open('bosch_feature_dict.yml', 'w') as yml_stream:
    yaml.dump(feature_dict, yml_stream, default_flow_style=False)

In [22]:
station_train.head()

,Id,dat_L2_S28_mean,dat_L2_S28_max,dat_L2_S28_min,dat_L2_S28_var,dat_L3_S31_mean,dat_L3_S31_max,dat_L3_S31_min,dat_L3_S31_var,dat_L2_S26_mean,...,num_L1_S25_var_index_diff_0,num_L1_S25_var_index_diff_1,num_L1_S24_mean_index_diff_0,num_L1_S24_mean_index_diff_1,num_L1_S24_var_index_diff_0,num_L1_S24_var_index_diff_1,num_L3_S39_mean_index_diff_0,num_L3_S39_mean_index_diff_1,num_L3_S39_var_index_diff_0,num_L3_S39_var_index_diff_1
0,4,NaN,NaN,NaN,NaN,87.27,87.27,87.27,0.0,NaN,...,1,-1,-335159,-1,-1171286,-1,1,-1,1,-1
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,-1,1,-1,1,-1,1,-1,1,-1
2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,-1,1,-2,1,-2,1,-1,1,-1
3,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,-1,2,-1,2,-1,1,-1,1,-1
4,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,-1,1,-1,1,-1,1,-1,1,-1